.columns > div {
  display: flex;
  flex-direction: column;
}
/* .columns.justify-start > div {
  justify-content: flex-start;
} */
.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns.align-top > div {
    align-items: flex-start;
  }
  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns  {
  color:teal;
}

.columns.tiny-image  {
  color:purple;
}


.columns.tiny-image img  {
  width:auto;
}
