main .video-container{
	padding-left:0;
	padding-right:0;
}

main .video-container .video-wrapper{
	max-width:none;
}

main .video-container .video-wrapper .video > div > div > picture  > img {
	width:100%;
}
