@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* -- NEW-- */
.nav-button{
    width:100% !important;
    border: 1px solid #000 !important;
    color: #FFF !important;
    background-color: #333 !important;
    text-decoration: none !important;
    font-family: Work Sans !important;
    font-size: 14px !important;
    font-weight:600 !important;
    line-height: 16px !important;
    letter-spacing: 0px !important;
    text-align:center !important;
    text-transform: uppercase !important;
    border-radius: 100px !important;
    
    padding: 0px !important;
    height: 60px !important;
    display: flex !important;
    align-items: center !important;
    justify-content:center !important;
    gap: 8px !important;
    cursor: pointer !important;
    opacity:1;
}
.nav-button:hover{
  opacity: 0.75;
}
.nav-button br{
  display:none;
}
.nav-button .fa-chevron-up{
  order: 3;
}
.nav-button .fa-lg{
  font-size: 0.75em !important;
}

.data-toggle p{
display:none;
}
.data-toggle input:checked ~ p{
display: inline-flex !important;
    flex-wrap:wrap !important;
    gap: 1rem !important;
    justify-content:center !important;
}

.date-toggle label{
    width:100% !important;
    border: 1px solid #000 !important;
    color: #333 !important;
    background-color: #EDEBE5 !important;
    text-decoration: none !important;
    font-family: Source Sans Pro !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 23px !important;
    letter-spacing: 0px !important;
    text-align:center !important;
    border-radius: 15px !important;
    
    padding: 0px !important;
    height: 60px !important;
    display: flex !important;
    align-items: center !important;
    justify-content:center !important;
    
    cursor: pointer !important;
}
.date-toggle label:hover{
    color: #FFF !important;
    background-color: #333 !important;
}
.date-toggle input:checked ~ label {
    cursor: default !important;
    color: #333 !important;
    font: normal normal normal 28px/43px Calluna !important;
    background-color: transparent !important;
    border: 2px solid transparent !important;
}

.timeslot-button{
    border: 1px solid #000 !important;
    text-decoration: none !important;
    font-family: Source Sans Pro !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 23px !important;
    letter-spacing: 0px !important;
    text-align:center !important;
    color: #000 !important;
    text-transform: uppercase !important;
    background-color: transparent !important;
    padding: 0px !important;
    height: 60px !important;
    width:217px !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content:center !important;
    cursor: pointer !important;
    border-radius: 15px !important;
}
.timeslot-button:hover{
    color: white !important;
    background-color: #333 !important;
}
/* -- END NEW-- */
body {
  /* width: 100%; */
  display: flex;
  align-items: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;

  flex-direction: column;
  padding: 28px;
  max-width: 480px;
  
  /* SM */
  @media (min-width: 640px) {
    padding: 28px 64px;
    max-width: 640px;
  }
  
  /* MD */
  @media (min-width: 780px) {
    padding: 0;
    max-width: 680px;
  }
  
  /* LG */
  @media (min-width: 1024px) {
    max-width: 880px;
  }
  
  /* XL */
  @media (min-width: 1280px) {
    max-width: 960px;
  }
}
.promo-text{
  display:none;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
/*   margin-top:32px; */
  /* SM */
  @media (min-width: 640px) {
    width: 50%;
    min-width: 300px;
  }
}


p {
  margin:0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font: normal normal normal 18px/24px Source Sans Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

/* --Input Label-- */
label {
  margin-bottom: 8px;
  text-align: left;
  font: normal normal 600 16px Red Hat Display;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;  
}

/* --Input Field-- */
input {
  margin-bottom: 24px;
  padding: 14px 17px 14px 17px;
  border: 1px solid #000000;
  opacity: 1;
}
::placeholder {
  /* Firefox */
  color: #8E8E90;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8E8E90;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8E8E90;
}

/* --Select Field-- */
select {
  margin-bottom: 24px;
  padding: 14px 17px 14px 17px;
  border: 1px solid #000000;
  opacity: 1;
}
/* --Text Area-- */
textarea {
  margin-bottom: 24px;
  padding: 14px 17px 14px 17px;
  border: 1px solid #000000;
  opacity: 1;
}
p > textarea {
   width: unset!important;
}

input[type="submit"] {
  width: 100% !important;
  font: normal normal 600 16px 'Red Hat Display';
  letter-spacing: 0px;
  color: white;
  text-transform: uppercase;
  background: #333333;
  padding: 14px 17px 14px 17px;
  cursor: pointer;  
  border: 0px;
  border-radius: 100px;
}
input[type="submit"]:hover {
  opacity: 0.75;
}
